.image img{
    width: auto;
    height: 300px;
    background: #fff;
    background: radial-gradient(white 80%, #626262);
    object-fit: cover;
    overflow: hidden;
    
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}
.shopping-cart{
    padding: 3% 0;
}
.cart-items + .cart-items{
    padding: 2% 0;
}
.price-details h6{
    padding: 3% 2%;
}
.footer{
	text-align: center;
	color: #9a9a9a;
	padding: 10px 0 20px;
	font-size: 15px;
}

.footer a{
    text-decoration: none;
    color: #9a9a9a;
    font-weight: 500;
}
.img-fluid{
    cursor: pointer;
}



